body {
   font-family:'Montserrat', sans-serif ;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
}
.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;  
}

.navbar {
    padding-bottom: 4.5rem;
}

#title {
    background-color: #ff4c68;
    color: #ffffff;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15% 9%;
}

.Download-button {
    margin: 6% 3% 6% 0;
}

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

#features {
    padding: 7% 15%;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family:'Montserrat', sans-serif ;
    font-weight: 900;
    font-size: 1.3rem;
}

p {
    color: gray;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #ffffff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 10%;
    margin: 10px 10px 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.Pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1000px) {
    .title-image {
        position: static;
        transform: rotate(0);
        width: 100%;
        width: 50%;
    }

    #title {
        text-align: center;
    }
    
}

#cta {
    background-color: #ff4c68;
    color: floralwhite;
    padding: 7% 10%;
    text-align: center;
}

.cta-txt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer {
    text-align: center;
    background-color: #ffffff;
    padding: 7% 10%;

}

.footer-link {
    padding: 1%;
}

.Copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}
